.section33{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section33_header{
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

.section33_devices{
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.section33_device_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section33_device_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section33_device_info h2 {
    margin: 1vw 0;
}

.section33_device_info h2 span {
    margin: 1vw;
    font-weight: 400;
}

.section33_device_info p {
    margin: 0.5vw 0vw;
}

.section33_device_pic {
    margin: 0.5vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 15px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    /*设置四周阴影*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 -4px 8px rgba(0, 0, 0, 0.1), 4px 0 8px rgba(0, 0, 0, 0.1), -4px 0 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
}

.section33_device_pic img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* 响应式布局 */
@media (max-width: 1008px) {
    .section33_device_pic {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

    }

    .section33_device_pic img {
        height:200px;

    }
}
